<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body><div id="XGBoost"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
var data = {
  type: "sankey",
  orientation: "h",
  node: {
    pad: 15,
    thickness: 30,
    line: {
      color: "black",
      width: 0.5
    },
   label: ["used xgboost", "didn't use xgboost", "will use xgboost", "will not use xgboost"],
color: ["blue", "blue", "blue", "blue"]
      },

  link: {
    source: [0,0,1,1],
    target: [2,3,2,3],
    value:  [40,10,44,192]

      // have used - will deprecate, will deprecate, will learn, 286 - (have used - will deprecate + will learn)
  }
}

var data = [data]

var layout = {
title: "XGBoost user migration",

  font: {
    size: 10
  }
}
Plotly.react('XGBoost', data, layout)
  </script>
<div id="R"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
var data = {
  type: "sankey",
  orientation: "h",
  node: {
    pad: 15,
    thickness: 30,
    line: {
      color: "black",
      width: 0.5
    },
   label: ["used R", "didn't use R", "will use R", "will not use R"],
color: ["blue", "blue", "blue", "blue"]
      },

  link: {
    source: [0,0,1,1],
    target: [2,3,2,3],
    value:  [22,31,31,202]

      // have used - will deprecate, will deprecate, will learn, 286 - (have used - will deprecate + will learn)
  }
}

var data = [data]

var layout = {
title: "R user migration",

  font: {
    size: 10
  }
}
Plotly.react('R', data, layout)
  </script>
<div id="keras-standalone"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
var data = {
  type: "sankey",
  orientation: "h",
  node: {
    pad: 15,
    thickness: 30,
    line: {
      color: "black",
      width: 0.5
    },
   label: ["used keras (w/o TMVA)", "didn't use keras (w/o TMVA)", "will use keras (w/o TMVA)", "will not use keras (w/o TMVA)"],
color: ["blue", "blue", "blue", "blue"]
      },

  link: {
    source: [0,0,1,1],
    target: [2,3,2,3],
    value:  [79,27,50,130]

      // have used - will deprecate, will deprecate, will learn, 286 - (have used - will deprecate + will learn)
  }
}

var data = [data]

var layout = {
title: "keras-standalone user migration",

  font: {
    size: 10
  }
}
Plotly.react('keras-standalone', data, layout)
  </script>
<div id="NeuroBayes"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
var data = {
  type: "sankey",
  orientation: "h",
  node: {
    pad: 15,
    thickness: 30,
    line: {
      color: "black",
      width: 0.5
    },
   label: ["used neuro bayes", "didn't use neuro bayes", "will use neuro bayes", "will not use neuro bayes"],
color: ["blue", "blue", "blue", "blue"]
      },

  link: {
    source: [0,0,1,1],
    target: [2,3,2,3],
    value:  [4,15,39,228]

      // have used - will deprecate, will deprecate, will learn, 286 - (have used - will deprecate + will learn)
  }
}

var data = [data]

var layout = {
title: "NeuroBayes user migration",

  font: {
    size: 10
  }
}
Plotly.react('NeuroBayes', data, layout)
  </script>
<div id="TMVA-keras"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
var data = {
  type: "sankey",
  orientation: "h",
  node: {
    pad: 15,
    thickness: 30,
    line: {
      color: "black",
      width: 0.5
    },
   label: ["used keras (w/ TMVA)", "didn't use keras (w/ TMVA)", "will use keras (w/ TMVA)", "will not use keras (w/ TMVA)"],
color: ["blue", "blue", "blue", "blue"]
      },

  link: {
    source: [0,0,1,1],
    target: [2,3,2,3],
    value:  [19,8,64,195]

      // have used - will deprecate, will deprecate, will learn, 286 - (have used - will deprecate + will learn)
  }
}

var data = [data]

var layout = {
title: "TMVA-keras user migration",

  font: {
    size: 10
  }
}
Plotly.react('TMVA-keras', data, layout)
  </script>
<div id="TMVA"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
var data = {
  type: "sankey",
  orientation: "h",
  node: {
    pad: 15,
    thickness: 30,
    line: {
      color: "black",
      width: 0.5
    },
   label: ["used TMVA", "didn't use TMVA", "will use TMVA", "will not use TMVA"],
color: ["blue", "blue", "blue", "blue"]
      },

  link: {
    source: [0,0,1,1],
    target: [2,3,2,3],
    value:  [72,75,40,99]

      // have used - will deprecate, will deprecate, will learn, 286 - (have used - will deprecate + will learn)
  }
}

var data = [data]

var layout = {
title: "TMVA user migration",

  font: {
    size: 10
  }
}
Plotly.react('TMVA', data, layout)
  </script>
<div id="other"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
var data = {
  type: "sankey",
  orientation: "h",
  node: {
    pad: 15,
    thickness: 30,
    line: {
      color: "black",
      width: 0.5
    },
   label: ["used other", "didn't use other", "will use other", "will not use other"],
color: ["blue", "blue", "blue", "blue"]
      },

  link: {
    source: [0,0,1,1],
    target: [2,3,2,3],
    value:  [35,14,26,211]

      // have used - will deprecate, will deprecate, will learn, 286 - (have used - will deprecate + will learn)
  }
}

var data = [data]

var layout = {
title: "other user migration",

  font: {
    size: 10
  }
}
Plotly.react('other', data, layout)
  </script>
<div id="scikit-learn"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
var data = {
  type: "sankey",
  orientation: "h",
  node: {
    pad: 15,
    thickness: 30,
    line: {
      color: "black",
      width: 0.5
    },
   label: ["used scikit-learn", "didn't use scikit-learn", "will use scikit-learn", "will not use scikit-learn"],
color: ["blue", "blue", "blue", "blue"]
      },

  link: {
    source: [0,0,1,1],
    target: [2,3,2,3],
    value:  [113,39,52,82]

      // have used - will deprecate, will deprecate, will learn, 286 - (have used - will deprecate + will learn)
  }
}

var data = [data]

var layout = {
title: "scikit-learn user migration",

  font: {
    size: 10
  }
}
Plotly.react('scikit-learn', data, layout)
  </script>

</body>
